@import "reset";
@font-face {
  font-family: 'TexGyreHeros-Regular';
  src: url('/webfonts/texgyreheros-regular-webfont.woff') format('woff');
}

/*@font-face {
  font-family: TexGyreHeros;
  src: url('/fonts/texgyreheros-bold.otf');
}*/

@font-face {
  font-family: 'TexGyreHeros-Italic';
  font-style:italic;
  src: url('/webfonts/texgyreheros-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'TexGyreHeros-BoldItalic';
  font-weight:bold;
  font-style:italic;
  src: url('/webfonts/texgyreheros-bolditalic-webfont.woff') format('woff');
}

$font-reg: 'TexGyreHeros-Regular';
$font-bold: 'TexGyreHeros-Bold';
$font-ital: 'TexGyreHeros-Italic';
$font-boldital:'TexGyreHeros-BoldItalic';

html,
body,
.page {
  height: 100%;
  width: 100%;
  font-family: $font-bold, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: line-through;
  color: #ffffff;
  &:hover {
    text-decoration: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  &:visited {
    color: #ffffff;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: 1s all;
  position: fixed;
  top: 0;
  .bottom {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transition: 1s all;
    color: black;
    &.scrollMore {
      $chevronLength: 30px;
      cursor: pointer;
      height: 30px;
      width: 60px;
      background: transparent;
      padding: 10px;
      transform: translateX(-50%);
      opacity: 1;
      &:before {
        content: '';
        position: absolute;
        height: 4px;
        width: $chevronLength;
        background: black;
        transform: rotate(210deg);
        transform-origin: left;
        top: 25px;
        left: 40px;
      }
      &:after {
        content: '';
        position: absolute;
        height: 4px;
        width: $chevronLength;
        background: black;
        transform: rotate(-30deg);
        transform-origin: left;
        top: 26px;
        left: 39px;
      }
    }
  }
  .logo {
    max-width: 400px;
    max-height: 253px;
    width: auto;
    height: auto;
    cursor: pointer;
  }
  &.sticky {
    height: 100px;
    position: fixed;
    z-index: 100;
    top: 0;
    .logo {
      height: 80px;
      width: auto;
    }
    .bottom {
      bottom: 45%;
      opacity: 1;
    }
    .scrollMore {
      opacity: 0.0;
    }
  }
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.content-container {
  margin-top: 200vh;
  .content {
    $spacing: 25px;
    transform-style: preserve-3d;
    &__panel {
      background: #000000;
      color: #ffffff;
    }
    &__img {
      height: auto;
      @media screen and (min-width: 768px) {
        //height: 120vh;
      }
    }
    &__blurb {
      //font-size: 24px;
      line-height: 1.5em;
      font-weight: bold;
      width: 100%;
      padding: 30px 50px;
      p,h1 {
        color: white;
        margin: 0 auto;
        width: 100%;
        max-width: 720px;
        @media screen and (max-width: 768px) {
          max-width: 480px;
        }
        @media screen and (max-width: 450px) {
          padding: 20px;
        }
      }
      h1 {
        font-size:24px;
        margin-bottom:5px;
      }
      @media screen and (max-width: 768px) {
        width: 60%;
      }
      @media screen and (max-width: 450px) {
        font-size: 16px;
        width: 100%;
      }
      /*
      &--left {
        margin-left: 5%;
        @media screen and (max-width: 768px) {
          margin-left:50%;
        }
        @media screen and (max-width: 450px) {
          margin-left: auto;
          margin-right: auto;
        }
        &.site-by-oob {
          text-align: center;
        }
      }
      &--right {
        margin-left: 30%;
        @media screen and (max-width: 768px) {
          margin-left: 50%;
        }
        @media screen and (max-width: 450px) {
          margin-left: auto;
          margin-right: auto;
        }
      }*/
    }
    &__img {
      height: 120vh;
    }
    img {
      display: block;
      margin: auto;
      width: 100%;
      &.content_logo {
        width: 60%;
      }
    }
    ul {
      list-style-type: disc;
      li {
        margin-left: $spacing;
      }
    }
  }
}

.site-by-oob {
  margin-bottom: 50vh !important;
  p {
    text-align: center;
  }
}

.fullGap {
  margin-bottom: 100vh;
  @media screen and (max-width: 768px) {
    margin-bottom: 95vh;
  }
  @media screen and (max-width: 450px) {
    margin-bottom: 90vh;
  }
}

.halfGap {
  margin-bottom: 45vh;
}


/* TILT STUFF */

.tilt {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.tilt__back,
.tilt__front {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tilt__back {
  position: relative;
}

.tilt__front {
  position: absolute;
  top: 0;
  left: 0;
}
