@import "reset";

@font-face {
  font-family: TexGyreHeros;
  src: url('/fonts/texgyreheros-bold.otf');
}

@keyframes pulsebw {
  0% {
    fill: #000000;
    fill: red;
  }
  100% {
    fill: #ffffff;
    fill: blue;
  }
}

html,
body,
.page {
  height: 100%;
  width: 100%;
  font-family: TexGyreHeros, Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #ffffff;
  &:hover {
    text-decoration: line-through;
  }
  &:visited {
    color: #ffffff;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: 1s all;
  position: fixed;
  top: 0;
  .bottom {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transition: 1s all;
    color: black;
    &.contact {
      left: 5%;
      padding: 0px 10px;
      opacity: 0;
    }
    &.siteBy {
      right: 5%;
      background: rgba(255, 255, 255, 0.25);
      padding: 2.5px 10px;
      opacity: 0;
      a {
        color: black;
        border-bottom: 1px solid black;
      }
    }
    &.scrollMore {
      $chevronLength: 30px;
      cursor: pointer;
      height: 30px;
      width: 60px;
      background: transparent;
      padding: 10px;
      transform: translateX(-50%);
      opacity: 1;
      &:before {
        content: '';
        position: absolute;
        height: 4px;
        width: $chevronLength;
        background: black;
        transform: rotate(210deg);
        transform-origin: left;
        top: 25px;
        left: 40px;
      }
      &:after {
        content: '';
        position: absolute;
        height: 4px;
        width: $chevronLength;
        background: black;
        transform: rotate(-30deg);
        transform-origin: left;
        top: 26px;
        left: 39px;
      }
    }
  }
  .logo {
    max-width: 400px;
    max-height: 253px;
    width: auto;
    height: auto;
    text {
      fill: #000000;
    }
  }
  &.sticky {
    height: 100px;
    position: fixed;
    top: 0;
    .logo {
      height: 80%;
      width: auto;
      text {
        animation-name: pulsebw;
        animation-direction: alternate;
        animation-duration: 0.333s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
    .bottom {
      bottom: 45%;
      opacity: 1;
    }
    .scrollMore {
      opacity: 0.0;
    }
  }
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.content-container {
  margin-top: 200vh;
  .content {
    $spacing: 25px;
    &__panel {
      background: #000000;
      color: #ffffff;
      margin-bottom: 80vh;
      .description {
        padding: 20px 10px;
      }
    }
    img {
      display: block;
      margin: auto;
      width: 100%;
      &.content_logo{
        width:60%;
      }
    }
    ul {
      list-style-type: disc;
      li {
        margin-left: $spacing;
      }
    }
  }
}
